.for-investors-section {
    padding: 2rem 1rem;
    background-color: #f9f9f9; /* Alternando color de fondo */
}

.for-investors-section h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #333;
    text-align: center;
}

.for-investors-section p {
    font-size: 1.1rem;
    max-width: 600px;
    margin: 0 auto;
    color: #555;
    text-align: center;
}
