.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding: 8px;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 -1px 3px rgba(0,0,0,0.1);
}

.cookie-banner p {
  margin: 0;
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

.cookie-banner button {
  background-color: #628A00;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}
